.gpt__features-container__feature {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin: 1rem;
}
.gpt__features-container__feature-title {
  flex: 1;
  max-width: 180px;
  margin-right: 2rem;
}
.gpt__features-container__feature-title div {
  width: 38px;
  height: 3px;
  background: var(--gradient-bar);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 0.5rem;
}
.gpt__features-container__feature-title h1 {
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 1.125rem;
  line-height: 1.5rem;
  letter-spacing: -0.04em;
  color: #ffffff;
}
.gpt__features-container__feature-text {
  flex: 2;
  max-width: 800px;
  display: flex;
  margin-top: 0.5rem
}
.gpt__features-container__feature-text p {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.5rem;
  color: var(--text-color);
}

@media screen and (max-width: 550px) {
  .gpt__features-container__feature {
    margin: 1rem 0;
  }
  .gpt__features-container__feature-title h1 {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
  .gpt__features-container__feature-title p {
    font-size: 0.75rem;
    line-height: 1.25rem;
  }
}
